{% extends "base.html" %}
{% block header %}
 <script type="text/javascript">
            document.onkeydown = checkKey;

            function checkKey(e) {

                e = e || window.event;

                if (e.keyCode == '38') {
                  window.location.href ="/?gif_right={{gif_right['name']}}&gif_left={{gif_left['name']}}&action=draw&key={{vote_id}}"
              }
            
                    else if (e.keyCode == '37') {
                       // left arrow
                       window.location.href ="/?gif_left={{gif_left['name']}}&gif_right={{gif_right['name']}}&action=win&key={{vote_id}}"
                   }
                   else if (e.keyCode == '39') {
                       // right arrow
                       window.location.href ="/?gif_left={{gif_right['name']}}&gif_right={{gif_left['name']}}&action=win&key={{vote_id}}" 
                   }

               }
           </script>
{% end %}
{% block content %}
<div id="main-wrapper">
                    <section id="main_left">
                        <header>
                            <span class="avatar">
                              <a style="margin:auto;"  href="/?gif_left={{gif_left['name']}}&gif_right={{gif_right['name']}}&action=win&key={{vote_id}}" >
                              <img src="/gif/{{gif_left['name']}}" alt="" />
                              </a>
                            </span>
                        </header>
                        
                       
                    </section>
                    <section id="main">
                        <header>
                     
                        
                            <h1> <a href="/?gif_left={{gif_left['name']}}&gif_right={{gif_right['name']}}&action=draw&key={{vote_id}}"  class="splash-subhead">Draw Match!</a></h1>

                        </header>
                    <footer>
                        <a href="/rank">Ranking</a>
                    </footer>
                       
                    </section>
                    <section id="main_right">
                        <header>
                            <span class="avatar">
 <a style="margin:auto;"  href="/?gif_left={{gif_left['name']}}&gif_right={{gif_right['name']}}&action=loose&key={{vote_id}}" > 
  <img src="/gif/{{gif_right['name']}}" alt="" /></a></span>
                       
                        </header>
                        
                    
                    </section>
                </div>

{% end %}
